#viewports {
    height: 100%;
    display: none;
    flex-direction: column;
}

#viewports.active {
    display: flex;
}

.viewport-row,
.viewport-col {
    box-sizing: border-box;
}

.viewport-row {
    flex: 1;
    display: flex;
}

.viewport-col {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: baseline;
}

.viewport-col.single,
.viewport-col.focus {
    width: 100%;
}

.viewport-row:nth-child(1) .viewport-col:nth-child(1) {
    border-right: solid 1px rgba(255,50,50,1);
    border-bottom: solid 1px rgba(255,221,71,1);
    justify-content: right;
    align-items: flex-end;
}

.viewport-row:nth-child(1) .viewport-col:nth-child(2) {
    border-left: solid 1px rgba(255,50,50,1);
    border-bottom: solid 1px rgba(110,196,48,1);
    align-items: flex-end;
}

.viewport-row:nth-child(2) .viewport-col:nth-child(1) {
    border-right: solid 1px rgba(76,165,209,1);
    border-top: solid 1px rgba(255,221,71,1);
    justify-content: right;
}

.viewport-row:nth-child(2) .viewport-col:nth-child(2) {
    border-left: solid 1px rgba(76,165,209,1);
    border-top: solid 1px rgba(110,196,48,1);
}

.viewport-row:nth-child(1) .viewport-col.gap:nth-child(1) {
    border: solid 2px rgba(255,50,50,1);
}

.viewport-row:nth-child(1) .viewport-col.gap:nth-child(2) {
    border: solid 2px rgba(110,196,48,1);
}

.viewport-row:nth-child(2) .viewport-col.gap:nth-child(1) {
    border: solid 2px rgba(255,221,71,1);
}

.viewport-row:nth-child(2) .viewport-col.gap:nth-child(2) {
    border: solid 2px rgba(76,165,209,1);
}

.viewport-row:nth-child(2) .viewport-col.single:nth-child(1) {
    border-color: rgba(76,165,209,1);
}

.viewport-bar {
    display: inline-flex;
    padding: 4px 8px;
}

.viewport-row:nth-child(1) .viewport-col:nth-child(1) .viewport-bar {
    border-bottom: solid 2px rgba(255,50,50,1);
}

.viewport-row:nth-child(1) .viewport-col:nth-child(2) .viewport-bar {
    border-bottom: solid 2px rgba(110,196,48,1);
}

.viewport-row:nth-child(2) .viewport-col:nth-child(1) .viewport-bar {
    border-bottom: solid 2px rgba(255,221,71,1);
}

.viewport-row:nth-child(2) .viewport-col:nth-child(2) .viewport-bar {
    border-bottom: solid 2px rgba(76,165,209,1);
}

.viewport-row:nth-child(2) .viewport-col.single:nth-child(1) .viewport-bar {
    border-bottom: solid 2px rgba(76,165,209,1);
}

.viewport-row:nth-child(1) .viewport-col.focus:nth-child(1) {
    border: solid 2px rgba(255,50,50,1);
}

.viewport-row:nth-child(1) .viewport-col.focus:nth-child(2) {
    border: solid 2px rgba(110,196,48,1);
}

.viewport-row:nth-child(2) .viewport-col.focus:nth-child(1) {
    border: solid 2px rgba(255,221,71,1);
}

.viewport-row:nth-child(2) .viewport-col.focus:nth-child(2) {
    border: solid 2px rgba(76,165,209,1);
}

#viewports.no-border .viewport-col {
    border: none;
}

#viewports.no-label .viewport-bar {
    display: none;
}