input[type="text"] {
    background: $bg-color;
    outline: none;
    padding: $padding-sm;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;

    &:focus {
        border: 1px solid $primary-color;
    }
}